 
 <br>
 <br>
 <br>
<div class="row">
    <div class="col 6">
            <div class="card card1">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="image_card" src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2Finternetbanking.png?alt=media&token=75d8fde2-552d-4730-be85-7ca8242e7180" alt="Card image cap">
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <p class="card-text">Bank Name : abc</p>
                            <p class="card-text">Account Holder Name : abc</p>
                            <p class="card-text">Account No : 123</p>
                            <p class="card-text">IFSC Code : SBI123</p>
                            <p class="card-text">Branch Code : abc</p>
                        </div>
                    </div>
            </div>       
    </div>
    <div class="col 6">
            <div class="card card1">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="image_card" src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2FGoogle-Pay-Tez.png?alt=media&token=2a818e28-8f18-4b75-b3d6-a3adfc1fd7e0" alt="Card image cap">
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <p class="card-text">Phone No : 123456789</p>
                            <p class="card-text">UPI Id : abcf@okhdfcbank</p>
                        </div>
                    </div>
            </div> 
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col 6">
            <div class="card card1">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="image_card" src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2FPaytm_logo.png?alt=media&token=848ae57e-1cdf-45fc-b99b-3b93871d994f" alt="Card image cap">
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <p class="card-text">Paytm phone no : 123456789</p>
                            <p class="card-text">Paytm id : xc213</p>
                        </div>
                    </div>
            </div> 
    </div>
    <div class="col 6">
            <div class="card card1">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="image_card" src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2Fphonepe.png?alt=media&token=2751276f-88c0-40e7-82fe-de73bbca4522" alt="Card image cap">
                        </div>
                        <div class="card-body" style="text-align: center;">
                            <p class="card-text">Phone no : 123456789</p>
                            <p class="card-text">BHIM UPI Id : abc@ybl</p>
                        </div>
                    </div>
            </div>
    </div>
</div> 
