.slider_images{
    height: 150px;
    width: 150PX;
}

background_img{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/ppp_logo.jpg?alt=media&token=f863a120-b893-4c69-a258-5f31d9e0f35d");
  }