<nav class="navbar navbar-expand-lg navbar-light navbar_background bg-primary sticky-top">
    <span class="navbar-brand mb-0 h1" style="color:black" routerLink="/">PPP</span>
    <button class="navbar-toggler" type="button" (click)="colapse()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div [ngClass]="{'collapse':isColapse ,'navbar-collapse':true}" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/appreciation">Appreciation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/donateus">Donate Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
        </ul>
        <ul class="navbar-nav mr-end">
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
        </li>
        </ul>
    </div>
  </nav>