<br>
<div class="row">
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                    <div class="card-body">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>    
                    </div>
                  </div>        
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png  " 
                        class="card-img-top image_card">
                    <div class="card-body">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                    <div class="card-body">
                      <h5 class="card-title">name : -x-x-x-</h5>
                      <p class="card-text">Position : member</p>
                      <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                    <div class="card-body">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                    <div class="card-body">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>        
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                    <div class="card-body">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>        
    </div>
</div>
