<br>
<div class="row">
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">    
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2F771338_man_512x512.png?alt=media&token=aca73031-9ba9-4f96-b20a-32a7681229a5" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>    
                    </div>
                  </div>        
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">     
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2F771338_man_512x512.png?alt=media&token=aca73031-9ba9-4f96-b20a-32a7681229a5" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body"style="text-align: center;">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">     
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2F771338_man_512x512.png?alt=media&token=aca73031-9ba9-4f96-b20a-32a7681229a5" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body"style="text-align: center;">
                      <h5 class="card-title">name : -x-x-x-</h5>
                      <p class="card-text">Position : member</p>
                      <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">     
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">     
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>        
    </div>
    <div class="col 3">
            <div class="card" style="width: 18rem;">
                <article style="text-align: center;">     
                    <img 
                        src="https://www.shareicon.net/data/128x128/2016/05/27/771338_man_512x512.png" 
                        class="card-img-top image_card">
                </article>        
                    <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">name : -x-x-x-</h5>
                            <p class="card-text">Position : member</p>
                            <p class="card-text">Contact No : 000000</p>
                    </div>
                  </div>        
    </div>
</div>
