<br>
    <div class="row 6">
        <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-interval="1000">
                <img 
                src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/FB_IMG_15663594028222621.jpg?alt=media&token=c468dc89-08f5-443b-8996-5010f56bebe4" 
                    class="d-block w-100 slider_images">
              </div>
              <div class="carousel-item active" data-interval="1000">
                <img 
                    src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/FB_IMG_15663594028222621.jpg?alt=media&token=c468dc89-08f5-443b-8996-5010f56bebe4" 
                    class="d-block w-100 slider_images">
              </div>
              <div class="carousel-item active" data-interval="1000">
                <img 
                src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/FB_IMG_15663594028222621.jpg?alt=media&token=c468dc89-08f5-443b-8996-5010f56bebe4" 
                    class="d-block w-100 slider_images">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    &nbsp;
    <div class="row 6">
        <div class="col 3">
            <div class="card" style="width: 18rem; text-align: center;">
                <article class="photo"  style="text-align: center;">
                    <img 
                        src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2Fupcoming-events.png?alt=media&token=8bcde96d-35fc-4ac5-87fd-fcf7869f2059" 
                        class="card-img-top image_card"
                        routerLink="/upcomingevents">
                </article>
                <div class="card-body">
                    <a class="card-title" routerLink="/upcomingevents">Upcoming Events</a>
                </div>
            </div>
        </div>
        <div class="col 3">
                <div class="card" style="width: 18rem; text-align: center;">
                    <article class="photo"  style="text-align: center;">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2FuS-icons-donate.png?alt=media&token=53efc60a-afcb-4daa-b7e0-2f6d3d8782f0" 
                            class="card-img-top image_card"
                            routerLink="/donateus">
                    </article>
                    <div class="card-body">
                        <a class="card-title" routerLink="/donateus">Donate Us</a>
                    </div>
                </div>
        </div>
        <div class="col 3">
                <div class="card" style="width: 18rem; text-align: center;">
                    <article class="photo"  style="text-align: center;">
                        <img 
                            src="https://firebasestorage.googleapis.com/v0/b/pppp-2d212.appspot.com/o/Thumbnails%2FBe-one-of-us-blue_498x280.jpg?alt=media&token=23f01af2-ff0a-4817-b425-d075b2a36d62" 
                            class="card-img-top image_card"
                            routerLink="/joinwithus">
                    </article>    
                    <div class="card-body">
                        <a class="card-title" routerLink="/joinwithus">Join with us</a>
                    </div>
                </div>
        </div>
    </div>    
